.square{
    width:46px;
    height:46px;
    background-color: #F6984A;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:45px
}

.vector{
    width: 20px;
    height: 20px;

}

.route{
    column-count: 2;
}
.routeDescription{
    margin-top:30px;
    display: flex;
    justify-content: center;
    
}
.columnSendto {
    display: flex;
    flex-direction:column ;
    width:55px;
    margin-left:10px;
    margin-top:30px;
    

}

.columnReceveidto {
    width:230px;


}

.line{
    width:3px;
    height:70px;
    position: relative;
    top:70px;
    z-index: -1;
    left: 35px;
}

.routeText{
    font-size:16px;
    margin-bottom: 8px;

}

.dateText{
    font-size: 12px;
    margin:0;
}

.orderTitle{
    font-size:30px;
    font-weight: 700;
    margin-right:30px;
}

.detailLabel{
    font-size: 14px;
    color: #8D8D99;
    font-weight: 400;
    display: flex;
}

.backVector{
    width: 32px;
    height: 32px;

}

.detailsHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #f6984a;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.sectionDetails{
    position: relative;
    top:300px;
    align-items: center;
    
    
}

.mapContainer{
    width: 100%;
    
}
.sectionDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}