.listContainer{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    
    
}


.listTitle{
    color: #555555;
}

.idList:link{
    font-size: 16px;
    text-align: center;
    font-family: "Inter";
    text-transform: capitalize;
    
}

:link {
    text-decoration: none;
    color:black;
    text-transform: capitalize;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

a:active {
    text-decoration: none;
    color:black;
}

.descList{
    font-size: 12px;
}

.orderList{
    list-style-type: none !important;
    align-self: center;
    
    
}

.item{
    background-color: #FFFFFF;
    display: flex;
    margin:15px;
    border-radius: 10px;
    list-style-type: none;
    list-style: none;
    width: 400px;
    height: 82px;
    padding:20px;
}

